@(wedding: Wedding, events: Seq[Event])

<div class="hero-unit">
  <h1>@wedding.name</h1>
</div>

<div class="row-fluid">

  <div class="span4">
    <h2>Vendors</h2>
    <ul>
      <li>
        <div>
          <h3>Mary's Flowers</h3>
          <h4>Florist</h4>
          <h4>Phone: 832-866-7652</h4>
        </div>
      </li>
      <li>
        <div>
          <h3>Bob's Catering</h3>
          <h4>Caterer</h4>
          <h4>Phone: 832-866-7652</h4>
        </div>
      </li>
      <li>
        <div>
          <h3>Jim the DJ</h3>
          <h4>Music/Entertainment</h4>
          <h4>Phone: 832-866-7652</h4>
        </div>
      </li>
    </ul>
  </div>

  <div class="span5 well">
    <h2>Timeline</h2>

  </div>
        

</div>
