@(account: auth.Account, weddings: Seq[Wedding], selectedWedding: Option[Wedding] = None)

@main("Wedding Clutch")   {

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <!-- List of weddings -->
          <ul class="nav nav-list">
            <li class="nav-header">Weddings</li>
            @weddings.map { wedding =>
              <li><a href="@routes.Weddings.index(wedding.id.get)">@wedding.name</a></li>
            }
          </ul>
        </div>
      </div>
      <div class="span9">
        @views.html.weddings.wedding(
          selectedWedding.getOrElse(weddings.head),
          Event.findByWeddingId(selectedWedding.get.id.get, account.id.get))
      </div>
    </div>
  </div>

}
